<div class="friday-action-bar">
  <div class="container-fluid">
    <div class="friday-action-bar-content">
      <button class="friday-btn friday-btn-outline-secondary friday-btn-md">
        <span class="btn-text">cancel</span>
      </button>
      <button class="friday-btn friday-btn-secondary friday-btn-md">
        <span class="btn-text">save draft</span>
      </button>
      <button class="friday-btn friday-btn-primary friday-btn-md">
        <span class="btn-text">submit</span>
      </button>
    </div>
  </div>
</div>
