<aside id="friday-sidebar">
  <div class="burger-menu-wrap">
    <button type="button" id="sidebarCollapse" class="burger-menu">
      <span></span>
    </button>
  </div>
  <div class="friday-sidebar-inner">
    <ul>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              home
            </span>
          </span>
          <span class="menu-text">Home</span>

        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              description
            </span>
          </span>
          <span class="menu-text">Taxation</span>
          <span class="material-icons toggle-arrow">
            arrow_left
          </span>
          <div class="second-level-menu">
            <ul>
              <li>
                <a href="">tax codes</a>
              </li>
              <li>
                <a href="">tax groups</a>
              </li>
              <li>
                <a href="">tax authority</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              shield
            </span>
          </span>
          <span class="menu-text">System admin</span>
          <span class="material-icons toggle-arrow">
            arrow_left
          </span>
          <div class="second-level-menu">
            <ul>
              <li>
                <a href="">Transaction Currencies</a>
              </li>
              <li>
                <a href="">Address Book</a>
              </li>
              <li>
                <a href="">Contact Book</a>
              </li>
              <li>
                <a href="">Users</a>
              </li>
              <li>
                <a href="">Number Series</a>
              </li>
              <li>
                <a href="">Employee Roles</a>
              </li>
              <li>
                <a href="">
                  Location Dimension Values
                </a>
              </li>
              <li>
                <a href="">
                  Location Dimension Types
                </a>
              </li>
              <li>
                <a href="">Unit Of Measures (UOM)</a>
              </li>
              <li>
                <a href="">Unit Of Measures Conversion</a>
              </li>
              <li>
                <a href="">System International Unit Of Measures</a>
              </li>
              <li>
                <a href="">Category  Association</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              article
            </span>
          </span>
          <span class="menu-text">Products & Inventory Management</span>
          <span class="material-icons toggle-arrow">
            arrow_left
          </span>

          <div class="second-level-menu">
            <ul>
              <li>
                <a href="">Variant Models</a>
              </li>
              <li>
                <a href="">Master Attributes</a>
              </li>
              <li>
                <a href="">Attribute Groups</a>
              </li>
              <li>
                <a href="">Products</a>
              </li>
              <li>
                <a href="">Retail Category</a>
              </li>
              <li>
                <a href="">Master Variants</a>
              </li>
              <li>
                <a href="">Price Groups</a>
              </li>
              <li>
                <a href="">Item Groups</a>
              </li>
              <li>
                <a href="">Inventory Adjustments Header View</a>
              </li>
              <li>
                <a href="">Inventory Transaction </a>
              </li>
              <li>
                <a href="">On Hand Inventory</a>
              </li>
              <li>
                <a href="">Variant Sizes</a>
              </li>
              <li>
                 <a href="">Variant Colors</a>
              </li>
              <li>
                <a href="">Variant Styles</a>
              </li>
              <li>
                <a href="">Run Valuation</a>
              </li>

            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              person_search
            </span>
          </span>
          <span class="menu-text">Human Resource</span>
          <span class="material-icons toggle-arrow">
            arrow_left
          </span>
          <div class="second-level-menu">
            <ul>
              <li>
                <a href="">Human Resources Parameters</a>
              </li>
              <li>
                <a href="">Employees</a>
              </li>
              <li>
                <a href="">employee-administration/JobRequisition</a>
              </li>
              <li>
                <a href="">employee-administration/Field</a>
              </li>
              <li>
                <a href="">employee-administration/Location</a>
              </li>
              <li>
                <a href="">employee-administration/Degrees</a>
              </li>
              <li>
                <a href="">employee-administration/Job-Application</a>
              </li>
              <li>
                <a href="">recruitment/RecruitingAgency</a>
              </li>
              <li>
                <a href="">recruitment/EmailTemplate</a>
              </li>
              <li>
                <a href="">recruitment/Job-Advertisement</a>
              </li>
              <li>
                <a href="">employee-administration/SubDepartment</a>
              </li>
              <li>
                <a href="">employee-administration/Reasons</a>
              </li>
              <li>
                <a href="">employee-administration/Position</a>
              </li>
              <li>
                <a href="">recruitment/business-process-workflow</a>
              </li>
              <li>
                <a href="">employee-administration/Shifts</a>
              </li>
              <li>
                <a href="">employee-administration/Experience-Level</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              account_balance
            </span>
          </span>
          <span class="menu-text">Banking</span>
          <span class="material-icons toggle-arrow">
            arrow_left
          </span>
          <div class="second-level-menu">
            <ul>
              <li>
                <a href="">Baking Group</a>
              </li>
              <li>
                <a href="">Bank</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
          <span class="material-icons toggle-arrow">
            arrow_left
          </span>
          <div class="second-level-menu">
            <ul>
              <li>
                <a href="">POS Register</a>
              </li>
              <li>
                <a href="">Retail Parameters</a>
              </li>
              <li>
                <a href="">Store</a>
              </li>
              <li>
                <a href="">Barcodes</a>
              </li>
              <li>
                <a href="">Clusters</a>
              </li>
              <li>
                <a href="">Charges Group</a>
              </li>
              <li>
                <a href="">Income And Expenses</a>
              </li>
              <li>
                <a href="">Receipt Settings</a>
              </li>
              <li>
                <a href="">Assortments</a>
              </li>
              <li>
                <a href="">Retail Transaction </a>
              </li>
              <li>
                <a href="">Retail Payment Methods</a>
              </li>
              <li>
                <a href="">Retail Payment Journal</a>
              </li>
              <li>
                <a href="">Retail Sales Journal </a>
              </li>
              <li>
                <a href="">Auxiliary Category</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <!-- <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="wrap-icon">
            <span class="material-icons-outlined">
              storefront
            </span>
          </span>
          <span class="menu-text">Retail</span>
        </a>
      </li> -->
    </ul>
  </div>
</aside>
