// colors
$brand-color: #1890FF;
$brand-hover-color: #096DD9;
$brand-active-color: #0C65C5;

$secondary-color: #F0F1F2;
$secondary-hover-color: #E5E5E5;
$secondary-active-color: #F3F3F3;

$delete-color: #DE2E21;
$delete-hover-color: #B82015;
$delete-active-color: #E2453A;


$brand-second-color: #ef5a2c;

$black-color: #000; // black color
$white-color: #fff; // white color

$light-grey-color: rgba($black-color, 0.5);
$border-grey-color: rgba($black-color, 0.1);

$dark-grey-color: #494949;
$second-grey-color: #2A2A2A;
$third-grey-color: #606060;

/* $text-grey-color: rgba($black-color, 0.5); */
$hover-color:rgb(232, 235, 237);
$border-color:rgba($black-color, 0.1);



// fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary:'Roboto', sans-serif;
