<header class="friday-page-header">
  <div class="friday-page-header__body">
    <div>
      <div class="d-flex align-items-center">
        <a routerLink="/products" class="circle-icon-secondary me-2">
          <span class="material-icons-outlined">
            west
          </span>
        </a>
        <h1 class="friday-page-header__title">Payment Schedule</h1>
      </div>
      <p class="friday-page-header__sub-title">Add, view and edit your products all in one place.</p>
    </div>
    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-secondary friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>

      <button class="friday-btn friday-btn-delete friday-btn-md">
        <span class="btn-text">Delete</span>
      </button>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-3 col-md-3 col-xxl-2">
    <div class="friday-card h-100 card-shadow-1 border-radius-10">
      <div class="friday-card-body">
        <div class="fact-pane">
          <ul>
            <li>
              <a href="" class="item">
                Weekly
              </a>
            </li>
            <li>
              <a href="" class="item">
                Monthly
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-9 col-md-9 col-xxl-10">
    <div class="friday-tabs-container mb-4">
      <div class="tab-head">
        <ul class="nav nav-pills" id="pills-tab">
          <li class="nav-item">
            <button class="nav-link active" id="pills-header-tab" data-bs-toggle="pill" data-bs-target="#pills-header"
              type="button">Header</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-liner-tab" data-bs-toggle="pill" data-bs-target="#pills-liner"
              type="button">Liner</button>
          </li>
        </ul>

        <div class="friday-icons-container">
          <button class="icon-wrap circle-icon-transparent">
            <span class="material-icons-outlined">
              delete
            </span>
          </button>
          <button class="icon-wrap circle-icon-transparent">
            <span class="material-icons-outlined">
              edit
            </span>
          </button>
        </div>
      </div>

      <div class="friday-card card-shadow-1 border-radius-10">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-header">
            <div class="friday-card-body">
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Payment Schedule</label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-select-dropdown">
                      <select class="form-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Selection Allocation </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-select-dropdown">
                      <select class="form-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Select Payment Per </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-select-dropdown">
                      <select class="form-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Number of Payments </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-select-dropdown">
                      <select class="form-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Day </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-select-dropdown">
                      <select class="form-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Fixed Plan?</label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="switch-container">
                      <input class="friday-switch" type="checkbox" />
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="tab-pane fade" id="pills-liner">
            <div class="friday-card-body">
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Terms of Payment</label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <input type="text" class="form-control" placeholder="Enter product name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Payment Method </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-select-dropdown">
                      <select class="form-select">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Description </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-input-container">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Months </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-input-container">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Day </label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="friday-input-container">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Default Term of Payment ?</label>
                  <div class="col-lg-6 col-md-6 col-xxl-4">
                    <div class="switch-container">
                      <input class="friday-switch" type="checkbox" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="friday-card card-shadow-1 border-radius-10">
      <div class="friday-card-header no-border">
        <div class="friday-icons-container w-100 justify-content-end">
          <button class="icon-wrap circle-icon-transparent">
            <span class="material-icons-outlined">
              delete
            </span>
          </button>
          <button class="icon-wrap circle-icon-transparent">
            <span class="material-icons-outlined">
              edit
            </span>
          </button>
        </div>
      </div>

      <div class="friday-card-body">
        <div class="form-group">
          <div class="row">
            <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label form-label-required">Country/Region/State</label>
            <div class="col-lg-6 col-md-6 col-xxl-4">
              <div class="friday-input-container">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Name </label>
            <div class="col-lg-6 col-md-6 col-xxl-4">
              <div class="friday-input-container">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Purpose</label>
            <div class="col-lg-6 col-md-6 col-xxl-4">
              <div class="friday-input-container">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label form-label-required">Rounding By</label>
            <div class="col-lg-6 col-md-6 col-xxl-4">
              <div class="friday-select-dropdown">
                <select class="form-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-lg-3 col-md-4 col-xxl-2 col-form-label">Description </label>
            <div class="col-lg-6 col-md-6 col-xxl-4">
              <textarea class="form-control form-control-textarea textarea-height-100"
                placeholder="Enter Purpose"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
