<div class="friday-card card-shadow-1 border-radius-10 mb-4">
  <div class="friday-card-header no-border">
    <h2 class="friday-card-title">Buttons</h2>
  </div>

  <div class="friday-card-body">
    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-primary friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-primary friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-primary friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-secondary friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-secondary friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-secondary friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-highlight friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-highlight friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-highlight friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-delete friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-delete friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-delete friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-outline-primary friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-primary friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-primary friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-outline-secondary friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-secondary friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-secondary friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-outline-white friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-white friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-white friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>

    <div class="friday-buttons-container">
      <button class="friday-btn friday-btn-outline-white friday-btn-lg">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-white friday-btn-md">
        <span class="btn-text">Add Payment schedule</span>
      </button>
      <button class="friday-btn friday-btn-outline-white friday-btn-sm">
        <span class="btn-text">Add Payment schedule</span>
      </button>
    </div>


  </div>
</div>

<div class="friday-card card-shadow-1 border-radius-10 mb-4">
  <div class="friday-card-header no-border">
    <h2 class="friday-card-title">Icons</h2>
  </div>

  <div class="friday-card-body">

    <div class="friday-icons-container">
      <button class="icon-wrap circle-icon-transparent">
        <span class="material-icons-outlined">
          delete
        </span>

      </button>
      <button class="icon-wrap circle-icon-transparent" data-bs-toggle="modal" data-bs-target="#custom-modal">
        <span class="material-icons-outlined">
          edit
        </span>
      </button>
    </div>

    <div class="friday-icons-container">
      <button class="icon-wrap circle-icon-primary">
        <span class="material-icons-outlined">
          delete
        </span>

      </button>
      <button class="icon-wrap circle-icon-primary" data-bs-toggle="modal" data-bs-target="#custom-modal">
        <span class="material-icons-outlined">
          edit
        </span>
      </button>
    </div>

    <div class="friday-icons-container">
      <button class="icon-wrap circle-icon-secondary">
        <span class="material-icons-outlined">
          delete
        </span>

      </button>
      <button class="icon-wrap circle-icon-secondary" data-bs-toggle="modal" data-bs-target="#custom-modal">
        <span class="material-icons-outlined">
          edit
        </span>
      </button>
    </div>

    <div class="friday-icons-container">
      <button class="icon-wrap circle-icon-highlight">
        <span class="material-icons-outlined">
          delete
        </span>

      </button>
      <button class="icon-wrap circle-icon-highlight" data-bs-toggle="modal" data-bs-target="#custom-modal">
        <span class="material-icons-outlined">
          edit
        </span>
      </button>
    </div>

    <div class="friday-icons-container">
      <button class="icon-wrap circle-icon-delete">
        <span class="material-icons-outlined">
          delete
        </span>

      </button>
      <button class="icon-wrap circle-icon-delete" data-bs-toggle="modal" data-bs-target="#custom-modal">
        <span class="material-icons-outlined">
          edit
        </span>
      </button>
    </div>

    <div class="friday-icons-container">
      <button class="icon-wrap circle-icon-outline-primary ">
        <span class="material-icons-outlined">
          delete
        </span>

      </button>
      <button class="icon-wrap circle-icon-outline-primary " data-bs-toggle="modal" data-bs-target="#custom-modal">
        <span class="material-icons-outlined">
          edit
        </span>
      </button>
    </div>







  </div>
</div>
